body {
    width: 50%;
    margin: 100px auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* High Score List Styles */
ol {
    padding-left: 0px;
    list-style-position: inside
}

ol li {
    display: list-item;
    padding: 4px 7px 5px;
}

ol li:nth-child(odd) {
    background-color: rgb(61, 5, 114, 0.3);
}


/* Styles for clear and return buttons */
button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.rem;
    background-color: rgb(61, 5, 114);
    color: white;
    margin: 10px
}

button:hover {
    cursor: pointer;
}