* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

header a, header p {
    margin: 16px 200px;
    text-decoration: none;
    font-size: 1.75rem;
}

header a:visited {
    margin: inherit;
    text-decoration: none;
}

/* #timer {
    transition-property: color, font-size;
    transition-duration: 2s;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-top: 200px;
    margin-bottom: 0px;
}

main p {
    width: 800px;
    font-size: 1.5rem;
    text-align: center;
}

main button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px 15px;
    font-size: 1.1rem;
    background-color: rgb(61, 5, 114);
    color: white;
}

main button:hover {
    cursor: pointer;
}

.answer-button {
    background-color: rgb(68, 68, 168);
    width: 20%;
    margin: 5px;
    font-size: 1.5rem;
}